html,
#show_answer {
  background-color: #ecefed;
  color: #ecefed;
}
body {
  color: black;
  font-family: "Labrada";
  font-size: 48px;
  border-color: 2px blue;
}
#container {
  text-align: center;
  vertical-align: middle;
}
#tries {
  color: #9e4b3a;
  list-style-type: none;
}
button {
  margin: 5px;
  font-family: "Labrada";
  font-size: 32px;
  font-weight: 700;
  background-color: #ecefed;
  color: darkolivegreen;
  border: 0px;
  display: inline-block;
}
#directions {
  font-weight: 700;
}

#usr_input {
  font-family: "Labrada";
  font-size: 32px;
}
